.setting-car-model-and-type {
  display: flex;
}

.setting-car-model {

}

.setting-car-type {
  margin-left: 21px;
}

.item-title {
  font-size: 10.5px;
  font-weight: 400;
  line-height: 12px;
  color: #121212;
}

.item-input {
  width: 320px;
  height: 30px;
  border-radius: 4px;
  margin-top: 4.5px;
  border: 1px solid #BECAD6;
  outline: none;
}

.item-input-color {
  width: 283px;
  height: 30px;
  border-radius: 4px;
  margin-top: 4.5px;
  border: 1px solid #BECAD6;
  outline: none;
}

.item-title-input {
  display: flex;
  align-items: center;
  text-align: center;
}

.button-plus {
  width: 30px;
  height: 30px;
  position: relative;
  transition: transition-sm;
  border-radius: 4px;
  border: 1px solid #BECAD6;
  background-color: transparent;
  margin-top: 4.5px;
  margin-left: 8px;
  cursor: pointer;
}

.button-plus-icon {
  color: #BECAD6;
}

.button-plus:active {
  color: #BECAD6;
}

@media (max-width: 1024px) {
  .setting-car-model-and-type {
    display: flex;
    flex-direction: column;
  }
  .setting-car-type {
    margin-left: 0;
  }
  .item-input, .item-input-color {
    width: auto;
  }

  .button-plus {
    margin-left: 10px;
  }
}

@media (max-width: 1400px) {
  .setting-car-type {
    margin-left: 0;
  }
  .item-input, .item-input-color {
    width: auto;
  }

  .button-plus {
    margin-left: 10px;
  }
  .item-input {
    margin-right: 20px;
  }
}