.ant-table-thead tr th {
    text-align: center;
}

.ant-table-pagination.ant-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 21px;
    margin-bottom: 20px;
}

.ant-table-pagination-right {
    height: 20px;
    justify-content: center;
}

@media (max-width: 960px) {
    .ant-table-thead {
        font-size: 10px;
    }
    .ant-table-container {
        flex-wrap: wrap;

    }

    .ant-table-thead tr th {
        width: 100% !important;
    }


    .ant-table-thead tr th {

    }
}

