.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    width: 110px;
    height: 29px ;
    position: relative;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-select-arrow .anticon svg{
    display: inline-block;
    color: inherit;
    font-style: normal;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    right: 0px;
    width: 10px;
    height: 10px;
    margin-top: -4px;
    color: rgba(0,0,0,.25);
    font-size: 12px;
    text-align: center;
    pointer-events: none;
}


