.ant-menu-submenu, .ant-menu-submenu-inline {
    border-bottom: 1px solid #E5E5E5;
}

.ant-menu-submenu-arrow {
    display: none;
}

.ant-menu-submenu-title {
    width: 100%;
}

.ant-menu-title-content {
    color: #3D5170;
}

.ant-menu-item-icon {
    margin-left: 28px;
}

.ant-menu-title-content:hover {
    color: #007BFF;
}


