.description {
  margin-left: 21px;
  margin-right: 27px;
  text-align: start;
}

.progress-content-header {
  display: flex;
  justify-content: space-between;
}

.description-title {
  margin-top: 22.5px;
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: 500;
  color: #868E96;
}

.description-text {
  width: 100%;
  margin-top: 13.5px;
  margin-bottom: 45px;
  font-size: 13.5px;
  font-weight: 400;
  line-height: 19.5px;
  color: #5A6169;
}