.progress {
  height: 60px;
  text-align: start;
  border-top: 1px solid #BECAD6;
  border-bottom: 1px solid #BECAD6;
}

.progress-content {
  margin-right: 22px;
  margin-left: 22px;
}

.progress-content-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 14.95px;
  margin-top: 14px;
  color: #868E96;
}