.card-header {
  display: flex;
  width: 100%;
  height: 59px;
  justify-content: space-between;
  border-bottom: 0.5px solid #E0E2E8;
}

.items-dropdown-buttons {
  margin-top: 16px;
  margin-left: 25px;
}

.item-dropdown-button {
  width: 110px !important;
  height: 29px;
  margin-right: 15px;
  background: #FFFFFF;

  border-radius: 30px;
  font-size: 11px;
  font-weight: 400;
  line-height: 12.65px;
  color: #868E96;
  text-align: start;
}

.header-content-dropdown {
  width: 110.5px;
  height: 29px;
  left: 25.5px;
  margin-right: 15px;
  background: #FFFFFF;
  border: 0.5px solid #BECAD6;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 400;
  line-height: 12.65px;
  color: #868E96;
  text-align: start;
}

.header-content-dropdown span {
  width: 67px;
  margin-right: 14px;
}

.content-dropdown-icon {
  width: 3px;
  height: 3px;
}

.card-header-button {
  display: flex;
  margin-right: 21.5px;
  margin-top: 15.5px;
  width: 95px;
  height: 29px;
  background: #007BFF;
  border: 0.5px solid #007BFF;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
}

.card-header-button span {
  margin: 0 auto;
  font-size: 11px;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .ant-space-align-center {
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .card-header {
    height: 100%;
    flex-wrap: wrap;
  }
  .card-header-button {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 29px;
    width: 110.5px;
  }
  .ant-space-align-center {

  }
  .content-header {
    display: flex;
  }
}