.sidebar {
  width: 285px;
  height: 100vh;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 10px 11px rgba(90, 97, 105,  0.10) inset;
  -moz-box-shadow: 0 10px 11px rgba(90, 97, 105,  0.10) inset;
  box-shadow: 0 10px 11px rgba(90, 97, 105,  0.10) inset;

  //box-shadow: 0 1px 75px rgba(90, 97, 105, 0.11), 0 2px 4px rgba(90, 97, 105, 0.12), 0 7.5px 11px rgba(90, 97, 105,  0.10), 0 3.5px 17.5px rgba(165, 182, 201,  0.10);
}

.sidebar-header {
  width: 100%;
  height: 67.5px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
  cursor: pointer;
  justify-content: center;
}

.sidebar-content {
  text-align: center;
  height: auto;
  display: flex;
  align-items: center;

}

.sidebar-header-image {
  width: 21.5px;
  height: 21.5px;
  margin-right: 7px;
}

.sidebar-header-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.4px;
  color: #3D5170;
  margin: 0;
}

@media (max-width: 640px) {
  .sidebar {
    width: 40px;
  }

  .sidebar-header {
    width: 40px;
  }

  .sidebar-content {
    align-items: center;
  }

  .sidebar-header-image {
    margin-right: 0;
  }

  .sidebar-header-title {
    display: none;
  }
}
