.cars-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

@media (max-width: 960px) {
  .cars-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: auto;
  }
}











