.card-setting-textarea {
  width: 50%;
  height: 100px!important;
  margin-top: 20px!important;
  margin-bottom: 20px;
  resize: none;
  outline: none;
  border: .5px solid #becad6;
  font-size: 11px;
  line-height: 15px;
  color: #495057;
  word-wrap: break-word;
  padding: 10px 8px;
}