.card-content-price {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.3px;
  color: #121212;
  margin-top: 28.5px;
  margin-left: 78.5px;
}

.card-content-price-style {
  text-align: center;
}

@media (max-width: 1400px) {
  .card-content-price {

    width: 20%;
    margin-left: 21px;
    margin-bottom: 0px;
    font-size: 18px ;
  }
  .card-content-price-style {
    text-align: start;
  }
}