.details-card-setting {
  height: fit-content;
  padding-left: 18px;
}

.details-card-setting-title {
  height: 58.5px;
  margin-top: 19.5px;
  font-size: 17.5px;
  font-weight: 500;
  line-height: 20.5px;
  color: #3D5170;
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .card-setting-title {
    margin-top: 20px;
    font-size: 24px;
  }
  .details-card-setting {
    margin-bottom: 20px;
  }
}

@media (max-width: 1400px) {
  .details-card-setting {
        margin-bottom: 20px;
  }
}
