.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #f5f6f8;
}

.login-page-form-content {
  width: 100%;
  max-width: 377px;
  max-height: 254px;
  margin: 10% 20px 0;
}

.login-page_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.login-page_header-image {
  width: 45px;
  height: 45px;
}

.login-page_header-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 27.6px;
  margin-left: 11.5px;
  color: #3D5170;
}

.login-page-form {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 9px;
  background-color: #fff;
}

.login-page-form-title {
  font-weight: 400;
  font-size: 17.5px;
  line-height: 20px;
  margin: 0 auto;
  color: #3D5170;
  text-align: center;
}

.login-page-form-input {
  margin-top: 25px;
  text-align: start;
}

.input-item-text {
  font-size: 10.5px;
  font-weight: 400;
  line-height: 12px;
  color: #495057;
  margin-bottom: 8.5px;
}

.item-input {
  width: 100% !important;
  height: 29px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 0.5px solid #BECAD6;
  outline: none;
  padding: 11.5px 8px;
}

.login-page_footer {
  display: flex;
  justify-content: space-between;
}

.login-page_footer-text {
  transition: .2s ease-in-out;
  text-decoration: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: #007bff;
  margin-top: 8px;
}

.login-page_footer-btn {
  width: 110px;
  height: 29px;
  background: #007BFF;
  border: 0.5px solid #007BFF;
  box-sizing: border-box;
  border-radius: 5px;

  text-transform: capitalize;
  user-select: none;
  font-size: 11px;
  line-height: 14px;
  color: #fff;
}

.login-page_footer-btn:hover {
  background: #0374ee;
}

.login-page_footer-btn:active {
  background: #045ebd;
}

@media (max-width: 596px) {
  .login-page_header-image {
    width: 35px;
    height: 35px;
  }
  .login-page_header-title {
    font-size: 20px;
  }

  .login-page-form-title {
    font-size: 15px;
  }
  .login-page_footer-btn {
    width: 70px;
  }
}