.main {
  width: 100%;

  display: flex;
  height: 100vh;
  background: #E5E5E5;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f6f8;
}


@media (max-width: 460px) {
  .main {
    width: 100%;

  }
  .main-content {
    height: 100vh;
  }
}


@media (max-width: 1980px) {
  .main {
    width: 100%;
  }

  .main-content {
    height: 100vh;
    overflow: hidden;
  }
}
