.card-content-checkbox {
    display: flex;
    flex-direction: column;
    margin-left: 86.5px;
    margin-top: 16.5px;
    font-size: 10px;
}

.checkbox {
    margin-bottom: 0;
}

.checkbox-text {
    font-size: 12px;
}

.ant-checkbox {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 10px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    top: 0.2em;
    line-height: 1;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #FFFFFF;
    border-color: #0EC261;
    border-radius: 1px;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #0EC261;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
    position: absolute;
    display: table;
    border: 1.5px solid #121212;
    border-top: 0;
    border-left: 0;
    transform: rotate(
            45deg) scale(1) translate(-50%, -50%);
    opacity: 1;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    content: ' ';
}

@media (max-width: 960px) {
    .card-content-checkbox {

        margin-left: 21px;
    }
}

@media (max-width: 1600px) {
    .card-content-checkbox {

        margin-left: 21px;
    }
}
