.card-content-imageCar {

  width: 138px;
  height: 63px;
  margin-left: 21px;
  margin-top: 13.5px;
}

.card-content-infoOrder {
  font-size: 13px;
  line-height: 15px;
  margin-top: 15.5px;
  margin-left: 16px;
  color: #889098;
  font-weight: 400;
}

.card-content-infoOrder span {
  font-weight: 500;
  color: black;
}

.card-content-infoOrder section {
  margin-bottom: 6px;
}

@media (max-width: 1024px) {
  .card-content-infoOrder {
    margin-left: 21px;
  }
}