.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  height: 68.5px;
  background-color: #FFFFFF;
}

.footer-left {
  margin-left: 27.5px;
  display: flex;
  line-height: 16px;
  color: #007BFF;
}

.footer-left-text {
  font-weight: 400;
}

.footer-left-link {
  margin-left: 16px;
}

.footer-right {
  line-height: 16px;
  margin-right: 27.5px;
}

.footer-right-copyright {
  margin: 0;
  font-weight: 500;
  color: #818EA3;
}