@font-face {
    font-family: 'HelveticaRegular';
    src: local('Helvetica-Regular'), url('./assats/fonts/Helvetica.ttf')
}

@font-face {
    font-family: 'RobotoRegular';
    src: local('Roboto-regular'), url('./assats/fonts/Roboto-Regular.ttf')
}

@font-face {
    font-family: 'RobotoMedium';
    src: local('Roboto-medium'), url('./assats/fonts/Roboto-Medium.ttf')
}

body {
    height: 100%;
    margin: 0;
    font-family: HelveticaRegular, sans-serif;
}
