.card-setting {
  height: 100vh;
}

.card-setting-background {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-setting-background .details-card-car {
  height: 100%;
}

.card-setting-title {
  margin-top: 28.5px;
  margin-left: 31.5px;
  font-size: 29px;
  line-height: 33.4px;
  font-weight: 400;
  color: #3D5170;
}




