.card-setting {
  height: 100vh;
  background: #f5f6f8;
}

.card-setting-background {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-setting-background .details-card-car {
  height: 100%;
}

.card-setting-title {
  width: auto;
  margin-top: 28.5px;
  margin-left: 31.5px;
  font-size: 29px;
  line-height: 33.4px;
  font-weight: 400;
  color: #3D5170;
}


@media (max-width: 1024px) {
  .card-setting {
    width: 100%;
    align-items: center;
    overflow: auto;
  }

  .card-setting-background {
    flex-direction: column;
  }
  .card-setting-title {
  }
}


@media (max-width: 1150px) {
  .card-setting {
    width: 100%;

  }

  .card-setting-background {

  }
  .card-setting-title {
  }
}

@media (max-width: 1400px) {
  .card-setting {
    width: 100%;
  }

  .card-setting-background {

  }
  .card-setting-title {
    width: auto;
  }
}
