.card-footer{
  display: flex;
  margin: 0 auto;
  height: 59px;
  align-items: center;
  text-align: center;
  border-top: 0.5px solid #E0E2E8;
}

.ant-pagination {
  display: flex;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}